.search-box-area {
	margin-top: 2rem;
}
.search-box-area input,
.search-box-area button {
	display: inline-block;
	vertical-align: middle;
}

.headline {
	margin-top: 2rem;
	display: flex;
	justify-content: left;
}

.headline svg {
	width: 430px;
}

.menu {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	border-top: 2px solid #ebebeb;
	border-bottom: 4px double black;
}

.menu button {
	border: none;
	background: none;
	margin: 5px;
	font-family: monospace;
}

.menu button:hover {
	background: #ebebeb;
}

.news-img-size {
	max-width: 100%;
	max-height: 250px;
}

.news-articles {
	margin: 0.5rem;
	border-bottom: 2px solid black;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
}
